---
layout: default
---


{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include projects.html %}

{% include honors.html %}

{% include publications.html %}

{% include pres.html %}

{% include presentations.html %}

{% include skills.html %}

<img src="https://s01.flagcounter.com/count2/JmVP/bg_FFFFFF/txt_050505/border_FFFFFF/columns_3/maxflags_12/viewers_0/labels_1/pageviews_1/flags_0/percent_1/" alt="Flag Counter" border="0">
