---
layout: default
---


{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include projects.html %}

{% include honors.html %}

{% include publications.html %}

{% include skills.html %}

<a href="https://info.flagcounter.com/GYhl"><img src="https://s04.flagcounter.com/count2/GYhl/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_12/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
